body {
    text-align: center;
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 35px;
}
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    height: 5vh;
}
tr:nth-child(1) td:nth-child(1){
    width: 20%;
    border-style: none solid solid none;
}
tr:nth-child(1) td:nth-child(2){
    width: 60%;
    border-style: none solid solid solid;
}
tr:nth-child(1) td:nth-child(3){
    width: 20%;
    border-style: none none solid solid;
}
#menueueber {

}
#textadventuregameueber {

}
#leaderboardueber {

}
.box {
    float: left;
    height: 95vh;
}
#languageprofildiv {
    width: 20%;
    background-color: green;
}
#language{
    background-color: green;
    overflow-x: hidden;
    overflow-y: auto;
    height: 80%;
}
#profil {
    float: left;
    background: darkgray;
    height: 20%;
    width: 100%;
}

#game {
    width: 60%;
    background-color: black;
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
}
#labelgame{
    background-color: black;
    color: white;
    font-size: 16px;
}
#inputgame{
    background-color: black;
    color: white;
    border: 0;
    width: 100%;
    font-size: 15px;
}
#leaderboard {
    width: 20%;
    background-color: blue;
    overflow-x: hidden;
    overflow-y: auto;
}

