
table {
    text-align: center;

    width: 100%;

    border-left-width:   5px;
    border-left-style:   solid;
    border-color:        pink;
}

tr:nth-child(2) td:nth-child(2) {
    border-left-width:   5px;
    border-left-style:   solid;
    border-color:        blue;
}


