body {
    text-align: center;
}
table {
    width: 100%;
    text-align: center;
}
#menueueber {

}
#textadventuregameueber {

}
#leaderboardueber {

}
.box {
    float: left;
}
#language {
    width: 25%;
    background-color: green;
}
#game {
    width: 50%;
    background-color: red;
    height: 90%;
}
#leaderboard {
    width: 25%;
    background-color: blue;
}
#profil {
    width: 25%;
    float: left;
    background: darkgray;
}